@import 'bootstrap';

.app-container {
  height: 100%;
  width: 100%;
}

.app-container--outer {
  height: 100vh;
  width: 100vw;
}

.map-container {
  width: 100%;
  height: 100%;
}

.map-drawer {
  @include make-container();

  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 30%;

  background-color: #fff;
}

.school-search {
  margin-top: 1rem;
  margin-bottom: 1rem;

  // Typeahead.js wraps the input in a span.twitter-typeahead
  // Set it's width, or it's too short!
  .twitter-typeahead {
    width: 100%;
  }
}

.tt-menu {
  // Style the typeahead suggestions

  // Background color and width are most important because
  // the menu is transparent by default and not 100%, so
  // it looks strange when it appears over other content.
  background-color: #fff;
  width: 100%;

  border: 1px solid #ccc;

  // Match the Bootstrap input styles for vertical padding.
  // Get rid of horizontal padding so we can set a background color.
  padding: $input-padding-y 0;
  @include border-radius($input-border-radius);
}


.tt-suggestion {
  padding: 0 $input-padding-x;

  &:hover {
    cursor: default; // Make sure cursor is an arrow
    background-color: #eee;
  }
}

.school-suggestion__address {
  // Make font of a school's address smaller
  font-size: 0.8em;
}

.program-form {
  .btn {
    margin-right: 1em;
  }
}

.other-input {
  // Add space between the program type select control and the
  // text input to enter an "Other" value
  margin-top: 1em;
}

.edit-link {
  margin-left: 1em;
}

.contact-info {
  position: absolute;
  bottom: 0;
}

// Login form

.login-container {
  width: 100%;

  padding-top: 25%;

  position: relative;

  text-align: center;
}

.login-form {
  box-sizing: border-box;

  padding: 1em;

  margin: 0 auto;
}

@media (min-width: 520px) {
  .login-form {
    width: 66%;
  }
}

.submit-login {
  width: 100%;
}

// Admin

.admin-list-container {
  width: 100%;

  padding-top: 12%;

  position: relative;

  text-align: center;
}

.admin-list {
  max-width: 100%;

  margin: 0 auto;
}

@media (min-width: 520px) {
  .admin-list {
    width: 33%;
  }
}

.container--schools-admin {
  margin-top: 2em;
}

.schools-admin-buttons {
  margin-bottom: 1em;
}
