node_modules
.learning-collaborative-maps
.sass-cache
# Ignore vim swap files
*.swp
# Ignore environment variable setting secrets files
secrets*.env
# Ignore generated front-end assets
public
# Ignore generated non-ES6 versions of files in js/src
dist
