<div id="app-container"></div>  
<script src="js/vendor.min.js"></script>
<script src="js/learningcollaborative.min.js"></script>
<script>
(function(window, LearningCollaborative) {
  var app = new LearningCollaborative.LearningCollaborativeMapApp({
    container: window.document.getElementById('app-container')
  });
})(window, window.LearningCollaborative);    
</script>
